<div class="row">
  <div class="col-md-12 text-center">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= @user.name %></h1>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>	
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-lg btn-primary">
      <% if @user.document %>
        <%= link_to "Edit Application", edit_document_path(@user.document) %>
      <% else %>
        <%= link_to "Start Application", new_document_path %>
      <% end %>  
    </button>
  </div>
</div>

<div class="col-md-12 text-center">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
